@using MidwestGeeks.App_Start
@using ServiceStack.CacheAccess
@using ServiceStack.ServiceInterface
@using ServiceStack.ServiceInterface.Auth
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <!--<link href="../../Content/css/bootstrap.css" rel="stylesheet"/>
        <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />-->
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Midwest Geeks!</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class='@(Request.RawUrl.EndsWith("Home") ? "active" : "")'><a href="/Home">Home</a></li>
                        <li class='@(Request.RawUrl.EndsWith("About") ? "active" : "")'><a href="/Home/About">About</a></li>
                    </ul>
                    @{
                        //TODO:hmmm, might be missing a better way to do this...
                        var key = SessionFeature.GetSessionKey() ?? "";
                        var sess = AppHost.Resolve<ICacheClient>().Get<AuthUserSession>(key);
                        if (sess != null && sess.IsAuthenticated)
                        {
                            <div style="float:right;margin-top:10px" class="navbar-link">
                                Welcome @sess.PrimaryEmail
                            </div>
                        }
                        else
                        {
                            <div id="signIn" class="control-group" style="margin-top:10px;float:right">
                                <form class="controls" action="@Url.Content("~/api/auth/googleopenid")" method="POST">
                                    <input type="image" src="@Url.Content("~/Content/images/sign-in-with-google.png")" alt="Sign in with Google">
                                </form>
                            </div>
                        }
                    }
                </div><!--/.navbar-collapse -->
            </div>
        </div>        
        <div class="container">
                @RenderBody()
        </div>    
        <!--<script src="../../Content/js/jquery.min.js"></script>
        <!--<script src="../../Content/js/jquery-ui.min.js"></script>
        <script src="../../Content/js/angular.min.js"></script>
        <script src="../../Content/js/ui-bootstrap-tpls.js"></script>
        <script src="../../Content/js/angular-ui.min.js"></script>
        <script src="../../Content/js/bootstrap.min.js"></script>-->

        @RenderSection("Scripts",false)
    </body>
</html>